body {
  margin: 0;
  padding: 0;
}
.profile-box {
  width: 200px;
  min-height: 70px;
  height: 70px;
  font-size: 16px;
  background-color: #bbb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 300px auto;
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.profile-box:hover {
  cursor: pointer;
  height: 200px;
}
.profile-box:hover #but-img {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.profile-inner {
  width: 100%;
  height: 70px;
  display: flex;
  border-bottom: 1px solid #000;
}
.profile-image {
  width: 30%;
  height: auto;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
}
.text-inner {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.btn:hover {
  cursor: pointer;
}
a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  border-bottom: 1px solid #000;
}
a:hover {
  background-color: #fff;
  color: #bbb;
}
a:last-child {
  border: none;
}
